html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Segoe UI", sans-serif;
  background: #111;
  color: white;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Sidebar */
#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: rgba(20, 20, 20, 0.95);
  padding: 15px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}
#sidebar.closed {
  transform: translateX(-100%);
}

#sidebar h2 {
  margin-top: 30px;
  font-size: 18px;
}

#sidebar input, #sidebar select {
  width: 100%;
  padding: 7px;
  margin-top: 8px;
  border-radius: 5px;
  border: none;
}

#daftarRS {
  margin-top: 15px;
  max-height: 60vh;
  overflow-y: auto;
}

.rs-item {
  background: rgba(255,255,255,0.1);
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.rs-item:hover {
  background: rgba(255,255,255,0.2);
}


#openSidebar {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1000;
  background: #1e2a38;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s;
}

#openSidebar:hover {
  background: #243447;
}

/* tombol x */
#closeSidebar {
  position: absolute;
  top: 15px;
  right: 20px;
  color: white;
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
}

/* sembunyikan garis tiga kalau sidebar terbuka */
#sidebar:not(.closed) ~ #openSidebar {
  display: none;
}


footer {
  position: absolute;
  bottom: 10px;
  right: 15px;
  color: #aaa;
  font-size: 12px;
  background: rgba(0,0,0,0.4);
  padding: 4px 8px;
  border-radius: 4px;
}
